{% extends "widgets/smallWidget.html" %}

{% block content %}
    {% if 99 == metricValue %}
        <h1>{{widgetTitle}}: Full</h1>
    {% elif 0 == metricValue %}
        <h1>{{widgetTitle}}: Off</h1>
    {% else %}
        <h1>{{widgetTitle}}: {{metricValue}} %</h1>
    {% endif %}

    <div class="">
        <a href="#" data-vdev="{{vDev}}" data-command="off"      class="widgetCommandButton btn {% if 0 == metricValue %}disabled{%endif%}">Off</a>
        <a href="#" data-vdev="{{vDev}}" data-command="min"      class="widgetCommandButton btn">Min</a>
        <a href="#" data-vdev="{{vDev}}" data-command="decrease" class="widgetCommandButton btn">-</a>
        <a href="#" data-vdev="{{vDev}}" data-command="increase" class="widgetCommandButton btn">+</a>
        <a href="#" data-vdev="{{vDev}}" data-command="max"      class="widgetCommandButton btn">Max</a>
        <a href="#" data-vdev="{{vDev}}" data-command="on"       class="widgetCommandButton btn {% if 0 < metricValue %}disabled{%endif%}">On</a>
    </div>
{% endblock %}
