@font-face {
  font-family: "Helvetica Neue";
  src: url('../css/fonts/helveticaneue.eot');
  src: url('../css/fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/helveticaneue.svg#Helvetica Neue') format('svg'),
  url('../css/fonts/helveticaneue.woff') format('woff'),
  url('../css/fonts/helveticaneue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../css/fonts/helveticaneue-bold.eot');
  src: url('../css/fonts/helveticaneue-bold.eot') format('embedded-opentype'),
  url('../css/fonts/helveticaneue-bold.woff') format('woff'),
  url('../css/fonts/helveticaneue-bold.ttf') format('truetype'),
  url('../css/fonts/helveticaneue-bold.svg#HelveticaNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
