@overlay-backround: rgba(237, 237, 237, 0.9);

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  background-color: @overlay-backround;
}