// variables
@circle-radius: 40px;

.thermostat {
  .progress-container {
    width: @circle-radius;
    height: @circle-radius;
    display: block;
    float: right;
    margin-top: 4px;
    margin-right: 7px;
    cursor: pointer;
    svg {
      margin: 0;
      padding: 0;
    }
  }
}
