{% extends "shared/smallWidget.html" %}

{% block content %}
    <h1>{{widgetTitle}}: {% if state %}On{% else %}Off{% endif %}</h1>

    <div class="row">
	    {% if state %}
	        <div class="span1"><a href="#" data-vdev="{{vDev}}" data-command="off" class="widgetCommandButton btn btn-danger">Switch&nbsp;off</a></div>
	    {% else %}
	        <div class="span1"><a href="#" data-vdev="{{vDev}}" data-command="on" class="widgetCommandButton btn btn-success">Switch&nbsp;on</a></div>
	    {% endif %}

	    <div class="span1"><select data-vdev="{{vDev}}" data-command="setMode" class="widgetModeSelector">
		    {% for mode in modes %}
		    	<option value="{{mode.id}}"
		    		{% if currentMode==mode.id %}selected="yes"{% endif %}
		    	>{{mode.title}}</option>
		    {% endfor %}
	    </select></div>
	</div>
{% endblock %}
